on boot

service kickstart /system/bin/qcks -1 modem_st1 -2 modem_st2 -3 radio_config -4 cdma_record -i /firmware/mdm/image/ -u
    class core
    user root
    oneshot
	
service kickstartcdma /system/bin/qcks -1 modem_st1 -2 modem_st2 -3 radio_config -4 cdma_record -i /firmware/mdm/image/
    class core
    user root
    oneshot
    disabled

on property:ro.product.device=t6vzw
    stop kickstart
    start kickstartcdma

on property:ro.product.device=t6spr
    stop kickstart
    start kickstartcdma

#on property:ro.product.device=t6
#    stop kickstart